body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(216, 221, 206);
    flex-direction: column; /* Vertically center everything */
}

.header_text {
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: rgb(13, 13, 13);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Center the buttons */
    align-items: center;
    margin-top: 50px;
    gap: 20px;  /* Space between buttons */
}

.btn {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px 48px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 250px) and (max-height: 500px) {
    body {
        height: 100vh;
    }

    .header_text {
        font-size: 20px;
    }

    img {
        height: 60vh;
    }

    .btn {
        padding: 15px 15px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    body {
        height: 90vh;
    }

    .header_text {
        font-size: 28px;
    }

    img {
        height: 40vh;
        width: auto;
    }

    .btn {
        padding: 15px 25px;
        font-size: 14px;
    }
}
